html, body {
    background-color: black;
    color:white;
}

#link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float:top;
    top: 0;
    left:0;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index:69420;
    color: white;
    border-style: solid;
    border-color: blue;
    text-align: center;
    
}

a:link, a:active, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  #theDis {
    text-align: center;
    margin-top: 40vh;
  }